@model RapportUpdateDto
@{
    ViewData["Title"] = "Edit Tasks Rapport";
}
<div class="card my-3">
    <div class="card-header">@Model.MyTask.Title</div>
    <div class="card-body">
        <div class="card-title">State: @Model.MyTask.StateOfUrgent.Type</div>
        <div class="card-text">@Model.MyTask.Description</div>
    </div>
</div>
<form class="w-50 mx-auto" method="post">
    <input type="hidden" asp-for="@Model.MyTaskId" />
    <input type="hidden" asp-for="@Model.MyTask" />
    <input type="hidden" asp-for="@Model.MyTask.Id" />
    <div class="mb-5">
        <label asp-for="@Model.Title" class="form-label col-form-label-lg"></label>
        <span asp-validation-for="@Model.Title" class="text-danger"></span>
        <input asp-for="@Model.Title" type="text" class="form-control form-control-lg"/>
    </div>
    <div class="mb-5">
        <label asp-for="@Model.Details" class="form-label col-form-label-lg"></label>
        <span asp-validation-for="@Model.Details" class="text-danger"></span>
        <textarea asp-for="@Model.Details" type="text" class="form-control form-control-lg"></textarea>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <button type="submit" class="btn btn-primary btn-lg">Add <i class="fa fa-save" aria-hidden="true"></i></button> | <a class="btn btn-outline-primary" asp-area="Member" asp-controller="Assign" asp-action="Index">Go Back</a>
</form>

@section Scripts {@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}
