@model RapportAddViewModel
@{
    ViewData["Title"] = "Add Task Report";
}
    <div class="card">
        <div class="card-header">
            <h5 class="text-center">Add new report to :</h5>
        </div>
        <div class="card-body">
            <p class="card-text">
                <span class="text-danger">Task name:</span> @Model.MyTask.Title
            </p>
            <p class="card-text">
                <span class="text-danger">Task description:</span> @Model.MyTask.Description
            </p>
            <p class="card-text">
                <span class="text-danger">Task state type:</span> @Model.MyTask.StateOfUrgent.Type
            </p>
        </div>
    </div> 

<form class="w-50 mx-auto" method="post">
    <input type="hidden" asp-for="@Model.MyTaskId"/>
    <div class="mb-5">
        <label asp-for="@Model.Details" class="form-label col-form-label-lg"></label>
        <span asp-validation-for="@Model.Details" class="text-danger"></span>
        <input asp-for="@Model.Details" type="text" class="form-control form-control-lg"/>
    </div>

    <div class="mb-5">
        <label asp-for="@Model.Defination" class="form-label col-form-label-lg"></label>
        <span asp-validation-for="@Model.Defination" class="text-danger"></span>
        <textarea asp-for="@Model.Defination" type="text" class="form-control form-control-lg"></textarea>
    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <button type="submit" class="btn btn-primary btn-lg">Add <i class="fa fa-save" aria-hidden="true"></i></button> | <a class="btn btn-outline-primary" asp-area="Member" asp-controller="Home" asp-action="Index">Go Back</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}