@model AppUserListViewModel
@{
    var active = TempData["Active"]?.ToString();
}
<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">
        <img src="~/img/@Model.Picture" alt="@Model.Name" style="height: 10rem!important" class="w-100 img-thumbnail"/>
        <span class="navbar-text mr-3">
            <strong>@Model.UserName</strong>
        </span>
    </div>
    <div class="list-group list-group-flush">
        <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action @(active=="Home"?"active":"")"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
        <a asp-area="Admin" asp-controller="StateOfUrgent" asp-action="Index" class="list-group-item list-group-item-action @(active=="StateOfUrgent"?"active":"")"><i class="fa fa-exclamation-circle" aria-hidden="true"></i> States of urgents</a>
        <a asp-area="Admin" asp-controller="MyTask" asp-action="Index" class="list-group-item list-group-item-action @(active=="MyTask"?"active":"")"><i class="fa fa-tasks" aria-hidden="true"></i> Tasks</a>
        <a asp-area="Admin" asp-controller="Assignment" asp-action="Index" class="list-group-item list-group-item-action @(active=="Assignment"?"active":"")"><i class="fa fa-file-o" aria-hidden="true"></i> Assignments</a>
        <a asp-area="Admin" asp-controller="Notification" asp-action="GetNotification" class="list-group-item list-group-item-action @(active=="Notification"?"active":"") position-relative"><i class="fa fa-bell" aria-hidden="true"></i>
            @if (ViewBag.NotificationsCount > 0)
            {
                <sub class="badge badge-danger badge-pill position-absolute" style="bottom: 0.625rem !important; left:1.7rem!important" ><small>@ViewBag.NotificationsCount</small></sub>
            }
           Notification</a>
        <a asp-area="Admin" asp-controller="Profile" asp-action="Index" class="list-group-item list-group-item-action @(active=="Profile"?"active":"")"><i class="fa fa-user" aria-hidden="true"></i> Profile</a>
      
    </div>
</div>
<!-- /#sidebar-wrapper -->