@inject UserManager<AppUser> _userManager
@{

    string? active = TempData["Active"]?.ToString();
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/lib/template-css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Admin Layout</div>
            <div class="list-group list-group-flush">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="list-group-item list-group-item-action @(active=="Home"?"active":"")">Index of Admin</a>
                <a asp-area="Admin" asp-controller="StateOfUrgent" asp-action="Index" class="list-group-item list-group-item-action @(active=="StateOfUrgent"?"active":"")">States of urgent</a>
                <a asp-area="Admin" asp-controller="MyTask" asp-action="Index" class="list-group-item list-group-item-action @(active=="MyTask"?"active":"")">My Task</a>
                <a href="#" class="list-group-item list-group-item-action @(active=="Assignment"?"active":"")">Assignment</a>
                <a href="#" class="list-group-item list-group-item-action ">Profile</a>
                <a href="#" class="list-group-item list-group-item-action ">Status</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <button class="btn btn-light" id="menu-toggle">Toggle Menu</button>


                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <span class="navbar-text">
                            <strong>@_userManager.GetUserName(User)</strong>
                        </span>
                        <li class="nav-item" style="margin-left: 10px">
                            <form id="logoutForm" class="form-inline" method="post"
                                  asp-area=""
                                  asp-action="Logout"
                                  asp-controller="Home">
                                @* @Html.ActionLink("Index", "Index", "Home", new { area = "" }, new {@class="nav-link btn btn-outline-primary"})*@
                                <button id="logout" type="submit" class="nav-link btn btn-outline-primary">Logout</button>
                            </form>
                        </li>

                    </ul>
                </div>

            </nav>
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts",false)
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

</html>
