@model MyTaskAllListViewModel
@{
    ViewData["Title"] = "Detail";
    var userName = Model.AppUser!.Name;
    var surName = Model.AppUser.Surname;
}

@if (Model.Rapports.Count > 0)
{
    <a asp-action="MakeExcel" asp-route-id="@Model.Id" target="_blank" class="btn btn-outline-primary" href="">Excel <i class="fa fa-file-excel" aria-hidden="true"></i></a> 
    <a asp-action="MakePdf" asp-route-id="@Model.Id" target="_blank" class="btn btn-outline-primary" href="">Pdf <i class="fa fa-file-pdf" aria-hidden="true"></i></a>
    <table class="table table-hover table-sm mt-2 text-center w-75 table-bordered">
        <thead style="background-color: beige">
        <tr >
            <th colspan="2">@userName @surName user write on this @Model.Title for those reports;</th>
        </tr>
        </thead>
        <thead style="background-color: antiquewhite">
            <tr>
                <th scope="col"><i class="fa fa-tasks" aria-hidden="true"></i> Details</th>
                <th scope="col"><i class="fa fa-inbox" aria-hidden="true"></i> Definition</th>
            </tr>
        </thead>
        @foreach (var item in Model.Rapports)
        {
            <tr>
                <th>@item.Details</th>
                <th>@item.Defination</th>
            </tr>
        }
    </table>
}
else
{
    <div class="border border-dark mt-2 text-center">
        <h3>There is no rapport</h3>
        <p>@userName @surName still working on @Model.Title</p>
    </div>

}

